// app global css in SCSS form
#q-app {
  font-family: 'Alice';
}

.super-font {
  font-family: 'Great Vibes'
}


.little-gray-text {
  color: #737373;
}

.cool-image {
  width: 80px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}